@import "bootstrap";

// Мои переменные

$paddingText: 10px 0;
$textColor: #eb4d86;
$red: #cc2eaa;
$green: #2ecc71;
$fontMain: Arial;
$fontsizMain: 17px;
$fontsizMen: 20px;

a,
a:hover {
  text-decoration: none;
}

ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}
body {
  font-family: $fontMain;
}
header {
  border-bottom: 10px solid #009ff4;
  .user-change-blck {
    padding: $paddingText;
    padding-right: 20px;
    width: 100%;
    & a {
      position: relative;
      @extend %font-item;
      color: #eb4d86;
      &:after {
        content: " ";
        background: url("../img/path-right.png") no-repeat;
        width: 10px;
        height: 15px;
        position: absolute;
        top: 2px;
        right: -15px;
      }
    }
  }
  .header-logo_text {
    letter-spacing: 1.5px;
    color: #e42469;
  }
  .header-menu_item {
    @extend %font-menu;
    color: #009ff4;
  }
  .header-menu_item-cafe a {
    color: #000;
  }
}
